body {
    background-color: cornflowerblue;
}

h1 {
    color: blue;
}

ul {
    display:flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0 auto;
    border: 1px solid red;
}

li {
    margin: 0 5px 0 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;

}
header {
    font-size: 50px;
    
}
.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;

}
p {
    font-size: large;
}

img {
    max-width: 400px;
}
